html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    background-color: BLACK;
}
#chatContainer {
    width: 50%;
    height: 50%;
    overflow: hidden;
    position: absolute;
    left: 25%;
    top: 25%;
}
#messageBox {
    overflow: auto;
    box-sizing: border-box;
    width: 100%;
    height: 90%;
    background-color: darkgrey;
    padding: 5%;
}
#panel {
    box-sizing: border-box;
    width: 100%;
    height: 10%;
}
#messageTable {
    width: 100%;
    height: 100%;
}
#displayName {
    width: 15%;
    height: 100%;
    overflow: hidden;
    color: red;
}
#message {
    width: 100%;
    height: 100%;
    overflow: auto;
}
#btnSend {
    width: 100%;
    height: 100%;
}
#sideBar {
    box-sizing: border-box;
    width: 15%;
    height: 50%;
    padding: 1%;
    background-color: ivory;
    overflow: hidden;
    position: absolute;
    left: 5%;
    top: 25%;
}
#friendBar {
    width: 100%;
    height: 100%;
    display: none;
}
#loginMenu {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: darkgrey;
    padding: 5%;
}
.userMessage {

}
.systemMessage {

}
.userName {

}
.displayMessage {

}